body{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:tan;
    margin: 0;
    padding: 0;
}
.heading {
    display: block;
    width: 100%;
    padding: 20px 0 40px 0;
    color:rgb(68, 53, 32);
}
.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
}
h1 {

    font-size: 30px;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0;

}
h4 {
 
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}
.images {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    object-fit: cover;     
    padding: 0;
    margin: 0;
}
.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.button-tab {
    width: 20%;
    height: 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 18px;
    font-variant:small-caps;
    font-weight: 500;
    margin-bottom: 20px;
    transition: all ease-in-out 200ms;
}
.button-tab:hover {
    cursor: pointer;
    background-color: rgb(88, 78, 64);
    color: white;
}
.button-tab.active {
    background-color: tan;
    font-size: 22px;
    font-weight: 600;
}
.content-inside {
    display: none;
}
.content-inside.active {
    display: block;
 
}